<%= form_for(@kingdom) do |f| %>
  <% if @kingdom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kingdom.errors.count, "error") %> prohibited this kingdom from being saved:</h2>

      <ul>
      <% @kingdom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
