<div class="header">

</div>

<div class="left_sidebar">

</div>

<div class="middle_sidebar">
  <div class="status_bar">
    <% @kingdom.resources.each do |resource| %>
        <div class="resource_display">
          <%= "#{resource.name}: #{resource.amount}" %>
        </div>
    <% end %>
  </div>

  <div class="overview">
    <div class="overview_title">
      Overview
    </div>
    <div class="buildings_container">
      <% @kingdom.buildings.each do |building| %>
          <div class="building_display">
            <%= "#{building.name}: #{building.amount}" %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="news">

  </div>
</div>

<div class="right_sidebar">

</div>